<h2>Welcome to Flatiron Open Orders</h2>

<ol>
  <li>need/want to learn C++</li>
  <li>turning 30 next year.T.T</li>
  <li>apple smoothie</li>
  <li>i want to make a robot</li>
  <li> AI is cool and scary </li>
</ol>